<!-- Page Content-->
<div class="container px-4 px-lg-5">
  <!-- Heading Row-->
  <div class="row gx-4 gx-lg-5 align-items-center my-5">
      <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="assets/Sunset.jpeg" alt="..." /></div>
      <div class="col-lg-5">
          <h1 class="font-weight-light">Reimagine</h1>
          <p>I Love Angular.Js!I felt wholesome today and decided to build a Angular Website, a technology that I've taken for granted.</p>
          <a class="btn btn-primary" href="https://www.traseable.com/about/">Our Approach</a>
      </div>
  </div>
  <!-- Call to Action-->
  <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p></div>
  </div>
