 <!-- Content Row-->
 <div class="row gx-4 gx-lg-5">
  <div class="col-md-4 mb-5">
      <div class="card h-100">
          <div class="card-body">
              <h2 class="card-title">Consulting in the Pacific. The Sequel.</h2>
              <p class="card-text">Everybody loves a good sequel. There was such an overwhelming response,
                 including many kind words, from readers of my earlier post on Being a Consultant in the Pacific and
                  I'm indeed humbled that my experiences have been so useful for others..</p>
          </div>
          <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
      </div>
  </div>
  <div class="col-md-4 mb-5">
      <div class="card h-100">
          <div class="card-body">
              <h2 class="card-title">Being a Consultant in the Pacific</h2>
              <p class="card-text">This one has been on my mind a lot recently...and probably because my wife, Shauna, has been talking about how consultancies
                can be localised as part of some work she's involved in.</p>
          </div>
          <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
      </div>
  </div>
  <div class="col-md-4 mb-5">
      <div class="card h-100">
          <div class="card-body">
              <h2 class="card-title">What The Church of Jesus Christ of Latter-day Saints can teach us about digitalisation and technology</h2>
              <p class="card-text">I’m pretty hopeless at writing regularly. It’s often when I feel inspired by something that I choose to write. This one has been on my mind for
                some time now so I finally got around to writing it</p>
          </div>
          <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
      </div>
  </div>
</div>

   <div class="text-center">

    <iframe width="420" height="315"
    src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1&mute=1">
    </iframe>
  </div>
